html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

#game-scene {
  width: 1000px;
  height: 500px;
  border: 1px solid grey;
  position: relative;
  overflow: hidden;
}
