@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.list-item:last-child {
  opacity: 0;
  animation: fadeIn 0.6s ease forwards;
}

.list-item {
  font-size: 16px;
  color: black;
  transition: all 1s ease;
}

.list-item:hover {
  font-size: 24px;
  color: red;
}
